---
grafana.ini:
  analytics:
    check_for_plugin_updates: false
    check_for_updates: false
    reporting_enabled: false
  security:
    allow_embedding: true
  server:
    root_url: https://grafana.${domain_name}
